<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@vime/core@^5/themes/default.css" />
<vm-player
  theme="light"
  style="--vm-player-theme: rgb(243, 196, 184);"
>
  <vm-audio>
    <source 
      data-src="/assets/Ed-Sheeran-Perfect.mp3" 
      type="video/mp4"
    />
  </vm-audio>
  <vm-ui>
    <vm-controls>
      <!-- ... -->
      <vm-playback-control [hideTooltip]="true"></vm-playback-control>
      <vm-volume-control [hideTooltip]="true"></vm-volume-control>
      <vm-current-time></vm-current-time>
      <vm-scrubber-control></vm-scrubber-control>
      <vm-end-time></vm-end-time>
    </vm-controls>
  </vm-ui>
</vm-player>