/* IntroductionComponent's private CSS styles */
  .introduction_background_pic{
    background-color:white;
    text-align: center;
    margin: -10px;
    color: gray;
    background-image: url("../../assets/flowers.gif");
    padding-bottom: 50px;
  }

  .introduction_couple_pic{
    background-color:white;
    text-align: center;
    margin: -10px;
    margin-bottom: 50px;
    color: gray;
  }

  .name {
    font-size: 15vw;
    font-family: Snell Roundhand, cursive;
    padding: 1em;
    padding-top: 0.7em;
  }
  .date_loca, .countdown {
    font-size: 20px;
    border: 10px;
    font-family: Arial;
  }
  .countdown {
    border-bottom: 35px;
  }
  .introduction_couple_pic {
    position: relative;
  }
  .couple_pic_front {
    width: 100%
  }

  .wedding_gif {
    margin-top: 30px;
    background-color: rgb(243, 196, 184);
  }

  .wedding_gif_img {
    max-width: 100%;
  }

  .christmas_light {
    width: 50px; /* width of container */
    height: auto; /* height of container */
    display: none;
  }

  .diamond_container {
    display : none ;
    /* display: block; */
    margin : auto;
    position: relative;
    margin: auto;
    width: 1px;
    height: 200px;
  }

  .diamond {
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    overflow: hidden;
  }
  .diamond_gif {
    margin: -180px 0px 0px -300px;
  }
  /**************************************************/
  /* heart animation begins*/
  body{
    padding:100px 0;
    background-color:white
  }
  
  #heart {
      position: relative;
      width: 100px;
      height: 90px;
      animation: heartbeat 1s infinite;
      margin:0 auto
  }
  #heart:before,
  #heart:after {
      position: absolute;
      content: "";
      left: 50px;
      top: 0;
      width: 50px;
      height: 80px;
      background: rgb(243, 196, 184);
      -moz-border-radius: 50px 50px 0 0;
      border-radius: 50px 50px 0 0;
      -webkit-transform: rotate(-45deg);
         -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
           -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
      -webkit-transform-origin: 0 100%;
         -moz-transform-origin: 0 100%;
          -ms-transform-origin: 0 100%;
           -o-transform-origin: 0 100%;
              transform-origin: 0 100%;
  }
  #heart:after {
      left: 0;
      -webkit-transform: rotate(45deg);
         -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
           -o-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-transform-origin: 100% 100%;
         -moz-transform-origin: 100% 100%;
          -ms-transform-origin: 100% 100%;
           -o-transform-origin: 100% 100%;
              transform-origin :100% 100%;
  }
  
  @keyframes heartbeat
  {
    0%
    {
      transform: scale( .75 );
    }
    20%
    {
      transform: scale( 1 );
    }
    40%
    {
      transform: scale( .75 );
    }
    60%
    {
      transform: scale( 1 );
    }
    80%
    {
      transform: scale( .75 );
    }
    100%
    {
      transform: scale( .75 );
    }
  }

    /**************************************************/
  /* heart animation ends*/
