/* IntroductionComponent's private CSS styles */
  .introduction_couple_pic, .introduction_background_pic{
    background-color:white;
    text-align: center;
    margin: -10px;
    margin-bottom: 100px;
    color: gray;
  }
  .background_pic {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
        
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
        
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }
  .name {
    font-size: 100px;
    border: 1em;  
  }
  .date_loca, .countdown {
    font-size: 30px;  
    font-family: Brush Script MT, Brush Script Std, cursive;
    border: 10px;
  }
  .countdown {
    border-bottom: 35px;
  }
  .introduction_couple_pic {
    position: relative;
  }
  .couple_pic_front {
    width: 48%
  }