<div class="introduction_background_pic">
    <div class="wedding_gif">
        <img class="wedding_gif_img" src="../../assets/wedding.gif">
    </div>
    <div class="name">Zimei Zheng <div id="heart"></div> Jiafu Wu</div>
    <div class="date_loca">{{targetDate | date : "MMM d, y, EEEE"}}</div>
    <div class="date_loca">{{location}}</div>
    <div class="countdown">{{daysToGo()}} days to go</div>
</div>
<div class="introduction_couple_pic">
    <img class="couple_pic_front" src="../../assets/IMG_0364.jpg">
</div>
    <div class="christmas_light">
        <img class="christmas_light_gif" src="../../assets/christmas light.webp">
    </div>

<div class="diamond_container">
    <div class="diamond">
        <img class="diamond_gif" src="../../assets/diamond.gif">
    </div>
</div>

