<div class="introduction_couple_pic_hidden">
    <!-- Really hacky. I don't know why it works but don't remove this -->
    <img class="hacky" src="assets/ALX_3779.jpg"> 
</div>
<div class="best_people_container">
    <div class="best_person_container">
        <img class="couple_pic_gallery" src="assets/ziyan.jpeg">
        <div>Maid of Honor</div>
    </div>
    <div class="best_person_container">
        <img class="couple_pic_gallery" src="assets/stacytang.jpeg">
        <div>BridesMaid</div>
    </div>
    <div class="best_person_container">
        <img class="couple_pic_gallery" src="assets/joyChiang.jpeg">
        <div>BridesMaid</div>
    </div>
    <div class="best_person_container">
        <img class="couple_pic_gallery" src="assets/Yineth.jpeg">
        <div>BridesMaid</div>
    </div>
</div>
<div class="best_people_container">
    <div class="best_person_container">
        <img class="couple_pic_gallery" src="assets/logan.jpg">
        <div>Best Man</div>
    </div>
    <div class="best_person_container">
        <img class="couple_pic_gallery" src="assets/wilson.jpeg">
        <div>Groomsman</div>
    </div>
    <div class="best_person_container">
        <img class="couple_pic_gallery" src="assets/dylan.jpg">
        <div>Groomsman</div>
    </div>
    <div class="best_person_container">
        <img class="couple_pic_gallery" src="assets/jiahao.jpg">
        <div>Groomsman</div>
    </div>
</div>
