<div class="story_container">
    <div class="title"> TO CELEBRATE OUR WEDDING</div>
    <div class="name"> Zimei Zheng & Jiafu Wu</div>
    <div class="name_bottom"> 郑紫媚 & 吴嘉富</div>
    <div class="story"> Together with our parents</div>
    <div class="story_bottom"> 携同我们的父母</div>
    <div class="story"> The honor of your presence is requested</div>
    <div class="story_bottom"> 敬请您</div>
    <div class="story"> To join us in celebrating our marriage</div>
    <div class="story_bottom"> 出席我们的婚礼</div>
    <div id="heart"></div>
</div>
<div class="introduction_couple_pic">
    <img class="couple_pic_front" src="../../assets/couple1.jpeg">
</div>
<div class="story_container">
    <div class="story"> And then there goes our story</div>
    <div class="story_bottom"> 我们的故事</div>
</div>
<div class="introduction_couple_pic">
    <img class="timeline_pic" src="../../assets/timeline.png">
</div>
