.title, .story, .name, .name_bottom, .story_bottom{
    text-align: center;
    font-family: Arial;
}

.title {
    margin-bottom: 2em;
}

.name_bottom, .story_bottom {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.story, .name {
    color: gray;
}

.introduction_couple_pic{
    margin: -10px;
    margin-top: 2em;
    margin-bottom: 50px;
  }

.couple_pic_front, .timeline_pic, .stuff_pic {
    width: 100%;
  }

  .couple_pic_gallery_container {
    text-align: center;
    width: 50%;
    float: left;
    margin-bottom: 1em;
}
   .couple_pic_gallery {
    border-radius: 25px;
    width: 90%;
 }

 .couple_pic_gallery:hover {
    border-radius: 25px;
    width: 90%;
    box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 20%), -4px -4px 4px 4px rgb(0 0 0 / 20%);
 }

/**************************************************/
/* heart animation begins*/

#heart {
    position: relative;
    width: 50px;
    height: 70px;
    margin:0 auto
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 30px;
    top: 0;
    width: 30px;
    height: 50px;
    background: rgb(243, 196, 184);
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

  /**************************************************/
/* heart animation ends*/
